
<h1>Existing User Sign In LALALLALALA <%= @current %></h1>

<h1 id = "welcome">Welcome to Far Mar Finder!</h1>
<div id = "user-sign-in">
<h1 class = "page-title">Existing Users Sign In </h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="name" class= "form-label">Username:</label>
  <input type="text" name="user[name]" value="" id="username">

  <label for="password" class= "form-label">Password:</label>
  <input type="password" name="user[password]" value="" id="password">

  <p><input type="submit" value="Submit" class="submit-button"></p>
</form>
</div>
