<h1>HELLO THERE.  <%=  @usernames %></h1>
<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div id="wrapper">

    <a href="/users"><div class="header"><p>Welcome to Ada Far-Mar<br>
        <a href = "/vendors" > Vendors.</a>
        <a href = "/markets" > Markets.</a>
        <a href = "/products"> Products.</a>
        </p></div></a>

  <!-- <%= yield %> -->
</div>
</body>

</html>
