<h1>Edit Product </h1>
<form action="" method="post" accept-charset="utf-8">
<input type="hidden" name="_method" value="PUT">
  <label for="name">Name of product</label>
  <input type="text" name="product[name]" value="" id="name">
  <p><input type="submit" value="Submit"></p>
</form>
