<div class = "view-new">
<h2 class = "page-title">All Vendors</h2>
<div class = "each-do">
<% @vendors.each do |vendors| %>
    <div class = "all">
      <tr>
        <td class = "table-data"><a href="#" class = "name"><%= vendors.vendor_name %></a></td>
        <td><%= link_to "x", "/vendors/destroy/#{vendors.id}", class: "destroy" %></td>
      
      </tr>
  </div>
    <div class = "vendor-description">

    </div>
  <% end %>
</div>

<%= link_to "New Vendor", "/vendors/new", class: "links" %>
</div>
