<div class = "view-new">
<h1 class = "page-title">Add a New Vendor</h1>
<form action="" method="post" accept-charset="utf-8">
  <label for="name" class = "new-label">Vendor Name:</label>
  <input type="text" name="vendor[vendor_name]" value="" id="name">
  <p><input type="submit" class = "submit-button" value="Submit"></p>
</form>
</div>
