body {
  width: 100%;
  padding: 0;
  margin: 0;
}

header {
  font-family: 'Oswald';
  color: white;
  background: olive;
  width: 100%;
  margin-bottom: 0;
  padding-top: 1;
  padding-left: 15;
  height: 115;
}

#navigation li {
  display: inline-block;
  margin-left: 7%;
  margin-right: 7%;
}

#navigation li a {
  font-family: 'Oswald';
  color: white;
  font-size: 1.4em;
}

#navigation li a:hover {
  text-shadow: 2px 2px 2px black;
  background: none;
}

#farmarfinder {
  font-size: 3em;
  margin-bottom: 40;
  text-shadow: 2px 2px 2px dimgrey;
}

.dropdown-div {
  background: beige;
  display: inline-block;
  width: 15%;
  list-style: none;
  padding: 1% 2% 1% 2%;
  margin: 2%;
  margin-top: 0;
  text-align: center;
}

.dropdown-ul li a {
  color: olive;
  font-size: 1.2em;
  font-family: 'Oswald';
}

.dropdown-ul li a:hover {
  background: none;
  color: black;
}

.dropdown-ul li a {
  margin-top: 2.5;
  margin-bottom: 2.5;
}

.dropdown-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navigation {
  list-style: none;
  text-align: center;
  margin-left: -90;
}

#all-dropdowns {
  padding-left: 6%;
}
