<h2>Product</h2>

<% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to "Destroy", "/products/destroy/#{product.id}" %></td>
    </tr>
    <div class = "product-description">

    </div>
  <% end %>

<%= link_to "New Product", "/products/new" %>
