<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div id="wrapper">

    <a href="/users"><div class="header"><p>Welcome to Ada Far-Mar<br>
        <a href = "#" > Vendors.</a>
        <a href = "#" > Markets.</a>
        <a href = "#"> Products.</a>
        </p></div></a>

  <!-- <%= yield %> -->
</div>
</body>

</html>
